build/
test-output/
*.DS_Store


#Generado por Fitnesse:
/fitnesse/*.zip
/fitnesse/*/*.zip
/fitnesse/*/*/*.zip
/fitnesse/*/*/*/*.zip
/fitnesse/*/*/*/*/*.zip
/fitnesse/*/*/*/*/*/*.zip
/fitnesse/FitNesseRoot/files/testResults/
/fitnesse/FitNesseRoot/ErrorLogs/
/fitnesse/FitNesseRoot/RecentChanges/
/fitnesse/FitNesseRoot/FitNesse/
